<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Estilos -->
    <link rel="stylesheet" href="/stylesheets/style2.css" />
</head>
<body>
  
   <!-- Formularios -->
    <div class="contenedor-formularios">

      <!-- Contenido de los Formularios -->
        <div class="contenido-tab">
            <!-- Iniciar Sesion -->
            <div id="iniciar-sesion">
                <h1>Regístrate</h1>
                <form action="/signup" method="post">
                    <div class="contenedor-input">
                        <label>
                            Usuario
                        </label>
                        <input type="text" required>
                    </div>
                    <div class="contenedor-input">
                        <label>
                            Email
                        </label>
                        <input type="email" required>
                    </div>
                    <div class="contenedor-input">
                        <label>
                            Contraseña
                        </label>
                        <input type="password" required>
                    </div>
                    <!--input type="submit" class="button button-block" value="Regístrate"-->
                    <button type="submit"  class="button button-block"><a href="/principal"></a>Registrate</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>