<link rel="stylesheet" href="/stylesheets/profilestyle.css" />


<main>
  <div>
    <img src="{{user.profilePhoto}}" alt="{{user.username}}">
    <h3 id="profilename">{{user.username}}</h3>
  </div>
  <div>
    <h3>Configuración</h3>
    <form action="/profile" method="POST" enctype="multipart/form-data">
      <div>
        <label for="username">Nuevo nombre de usuario</label>
        <input type="text" required name="username">
      </div>
      <div>
        <label for="image">Foto de perfil</label>
        <input type="file" name="image">
      </div>
      <div>
        <button type="submit">Guarda tus cambios</button>
      </div>
  </form>
  </div>
  <div>
      <button><a href="/profile/misposts">Tus entradas</a></button>
      <br>
      <button><a href="/logout">Cierra la sesión</a></button>
    </div>
</main>