<link rel="stylesheet" href="/stylesheets/style2.css"/>
<div class="menu">
  <nav >
    <a href="/inicio">Urbike</a>
    <a href="/data">Primera rodada</a>
    <a href="/foro">Foro</a>
    <a href="/routes">Mapa</a>
    <a href="/profile">Perfil</a>
  </nav>
</div>

<section class="perfil">
  <section>
    <img src="{{profilePhoto}}" alt="{{username}}">
  </section>
  <div>
    <h3 id="profilename">{{username}}</h3>
    <button><a href="/profile/misposts">Tus entradas</a></button>
    <br>
    <button><a href="/profile/config">Configuración</a></button>
    <br>
    <button><a href="/logout">Cierra la sesión</a></button>
  </div>
</section>