
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenido al foro</h1>
    <p class="lead">Unete y podras compartir tus exprencias con mas usarios!</p>
  </div>
</div>

<form>
  <div class="form-group">
    <label for="User">User</label>
    <input type="text" class="form-control" id="input">
  </div>
  <div class="form-group">
    <label for="textarea">Cuentenos sobre su exprencia</label>
    <input class="form-control" id="Textarea" rows="3">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

