<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style4.css" />
  
  
</head>
<body>

 
  
<h1>IMPORTANTE CUANDO USES A LA BICICLETA</h1>

<div class="normas">

  <div class="contenido1">
    <div class="img1">
      <h2> 1. Revisa la bicicleta antes de salir:</h2>
      <p>- &nbsp;Presion de las llantas (la indicada que marca el neumatico)</p> 
      <p>- &nbsp;Frenos</p> 
      <p>- &nbsp;Luces</p>
      <p>- &nbsp;Cadena y cambios</p> 
      <p>- &nbsp;Luces</p>
      <p>- &nbsp;Altura del asiento</p>
    </div>
    <img class="bici_derc" src="https://i.pinimg.com/originals/33/69/52/336952ecf2cecb8023e8147a3516e125.png" >
  </div>

<p>
  <h2>2. Llevar un kit b치sico de herrameintas y refacciones:</h2> 
  <img src="https://cdn.shopify.com/s/files/1/2584/5536/products/426be8d1-15eed4d0441--7fe2927176668364823234.uploadPopup_1024x1024.png?v=1582225113">
  <p>- &nbsp;Nunca sabemis cuando se pinchara una llanta o tendra que realizar algun ajuste o reparaci칩n a la bicicleta.</p> 
</p>

<p>
  <h2>3. Circula por tu carril</h2>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9R8GK8Si5Q_4PHMKc9HeTWPN98I_52J7oLQ&usqp=CAU" width="30%">
  <p>- &nbsp;Las bicicleta deben circular por el carril de la extrema derecha.</p> 
</p>

<p>
  <h2> 4. Respetar se침ales de alto y ceda el paso</h2>
  <img src="https://assets.am.com.mx/export/sites/am/img/2019/08/02/captura_de_pantalla_2019-08-02_a_las_11_21_14.png_158945035.png" width="30%">
</p>

<p>
  <h2>5. Respetar las banquetas y creces peatonales</h2>
  <img src="https://www.comunidadvialmx.org/uploads/2015/09/18/BiciBanquetaNOta.png" width="30%">
   <p>- &nbsp;Si por alguna razon tienes que subir a la banquera o cruce peatonal lo mas recondable es bajarte de la biciclta y caminar.</p> 
</p>

<p>
  <h2>6. Mantente siempre visible</h2> 
  <img src="https://www.zicla.com/wp-content/uploads/2017/11/71201_uso-del-chaleco-reflectante-en-bibicleta-1.jpg" width="30%">
   <p- &nbsp;Utiliza vestimenta de colores brillantes></p> 
   <p>- &nbsp;Chaleco reflejante</p> 
   <p>-&nbsp; Luces</p> 
   <p>- &nbsp;Cricular en el sentido de las vialidades</p> 
   <p>- &nbsp;Circular por el centro del carril</p> 
</p>

<p>
  <h2>7. Fiajarse antes de dar vuelta, cambiar de carril o incorporarte al flujo vial</h2> 
</p>

<p>
  <h2>8. Comunucacion vial</h2>
   <img src="https://www.jalisco.gob.mx/ciclista/sites/default/files/foto_cap3_seguridad_ciclista.png" width="30%"> 
   <p> - &nbsp;Antes de realizar nuestra maniobra hay que se침alizar con tiempo, a una distancia prudente y asegurarnos de que nos han visto.</p>
</p>

<p>
  <h2>9. No rebases por lado derecho</h2>
  <img src="https://cdn.autobild.es/sites/navi.axelspringer.es/public/styles/480/public/media/image/2017/01/605579-norma-metro-medio-como-adelantar-ciclista.png?itok=ZNxlPRGB" width="30%">
   <p>- &nbsp;Al rebasar lo tendremos que hacer por el lado izquierdo</p> 
</p>

<p>
  <h2>10. No reacciones ante agresivamente antes un automovilista desinformado</h2>
  <img src="https://www.comunidadvialmx.org/uploads/2017/06/19/Notas_19jun.png" width="30%">
</p>
</div>

</body>
</html>