<nav >
  <a href="/inicio">Inicio</a>
  <a href="/data">Primera rodada</a>
  <a href="/routes">Mapa</a>
  <a href="/profile">Perfil</a>
</nav>

<h1>IMPORTANTE CUANDO USES A LA BICICLETA</h1>

<div class="normas">

  <div class="contenido1">
    <div class="texto1">
      <h2> 1. Revisa la bicicleta antes de salir:</h2>
      <p>- &nbsp;Presion de las llantas (la indicada que marca el neumatico)</p> 
      <p>- &nbsp;Frenos</p> 
      <p>- &nbsp;Luces</p>
      <p>- &nbsp;Cadena y cambios</p> 
      <p>- &nbsp;Luces</p>
      <p>- &nbsp;Altura del asiento</p>
    </div>
    <img class="bici1" src="https://i.pinimg.com/originals/33/69/52/336952ecf2cecb8023e8147a3516e125.png" >
  </div>
  <hr>
  <div class="contenido1">
    <img class="bici2" src="https://cdn.shopify.com/s/files/1/2584/5536/products/426be8d1-15eed4d0441--7fe2927176668364823234.uploadPopup_1024x1024.png?v=1582225113">
    <div class="texto2">
      <h2>2. Llevar un kit básico de herrameintas y refacciones:</h2> <br>
      <p>Es muy recomendable llevar un pequeño kit basico de herramientas, para cualquier emergencia que pueda pasar en el trayecto
        que nos encontramos en la bici. </p>
       <p>Les recomendamos llevar siempre en su mochila:</p> 
       <p>- &nbsp; Inflador para la ruedas</p> 
       <p>- &nbsp; Parches</p> 
       <p>- &nbsp; La llave maestra</p>
       <p>- &nbsp; Aceite (para engrasar la cadena)</p>
    </div>
  </div>
  <hr>
  <div class="contenido1">
    <div class="texto1">
      <h2>3. Circula por tu carril</h2>
      <p>
        La bicicleta es un vehículo y al igual que los automóviles tiene el derecho a circular por las vías públicas (calles, avenidas, etc). &nbsp;
        La bicicleta deberá circular por el carril de la extrema derecha. <br><br> En caso de que se circule a mayor velocidad que los demás vehículos sobre el 
        carril de la derecha, se podrá cambiar de carril para rebasar. &nbsp; En ocasiones es posible circular ligeramente cargado a la derecha del carril 
        para permitir el rebase de los autos. Sin embargo, tenemos el derecho de tomar todo el carril.
      </p>
    </div>
    <img class="bici1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9R8GK8Si5Q_4PHMKc9HeTWPN98I_52J7oLQ&usqp=CAU">
  </div>
  <hr>
  <div class="contenido1">
    <img class="bici2" src="https://assets.am.com.mx/export/sites/am/img/2019/08/02/captura_de_pantalla_2019-08-02_a_las_11_21_14.png_158945035.png">
    <div class="texto2">
      <h2> 4. Respetar señales de alto y ceda el paso</h2>
      <p>
        Es muy impórtate que siempre que veamos una señal indicando “Alto” o “Ceda el Paso” la respetemos. <br><br> Por seguridad hay que detenernos y asegurarnos 
        que no vengan otros vehículos o peatones antes de continuar nuestro camino.
      </p>
    </div>
  </div>
  <hr>
  <div class="contenido1">
    <div class="texto1">
      <h2>5. Respetar las banquetas y creces peatonales</h2>
      <p>
        Las banquetas y cruces peatonales, como su nombre lo dice, son para el uso de los peatones. <br><br> Si por alguna razón tienes que subir a la 
        banqueta o cruce peatonal lo más recomendable es bajarte de la bicicleta y caminar.
        </p>
    </div>
    <img class="bici1" src="https://www.comunidadvialmx.org/uploads/2015/09/18/BiciBanquetaNOta.png">
  </div>
  <hr>
  <div class="contenido1">
    <img class="bici2" src="https://www.zicla.com/wp-content/uploads/2017/11/71201_uso-del-chaleco-reflectante-en-bibicleta-1.jpg">
    <div class="texto2">
      <h2>6. Mantente siempre visible</h2>
      <p>
        Un gran número de colisiones se dan porque el ciclista no es visto a tiempo <br> o porque  no es visto en lo absoluto. Muchas veces los conductores <br> 
        no van atentos al camino. Existen una serie de medidas que podemos utilizar <br> para llamar la atención de los conductores y facilitar el ser vistos.
      </p>
      <br>
      <p- &nbsp; Utiliza vestimenta de colores brillantes></p> 
      <p>- &nbsp;Chaleco reflejante</p> 
      <p>-&nbsp; Luces</p> 
      <p>- &nbsp;Cricular en el sentido de las vialidades</p> 
      <p>- &nbsp;Circular por el centro del carril</p> 
    </div>
  </div>
  <hr>
  <div class="contenido1">
    <div class="texto1">
      <h2>7. Fiajarse antes de dar vuelta, cambiar de carril o incorporarte al flujo vial</h2>
      <p>
        Antes de realizar cualquiera de estas maniobras tenemos que ver que tengamos el suficiente espacio para realizarlo. <br><br> De ser posible, es importante 
        establecer contacto visual con otros conductores para cerciorarnos que nos han visto.
      </p>
    </div>
    <img class="bici1" src="https://www.e-coche.com/wp-content/uploads/2018/08/pasos-bicis.png"> 
  </div>
  <hr>
  <div class="contenido1">
    <img class="bici2" src="https://www.jalisco.gob.mx/ciclista/sites/default/files/foto_cap3_seguridad_ciclista.png"> 
    <div class="texto1">
      <h2>8. Comunucacion vial</h2>
      <p> 
        Es importante que transmitamos nuestras intenciones a los demás usuarios. <br><br> Si les hacemos saber que vamos a cambiar de carril, dar vuelta 
        o detenernos podemos evitar percances. <br><br> Un buen sistema de lograr esto es a través de señales manuales. <br><br>
        No basta con hacer la señal y listo. <br><br> Antes de realizar nuestra maniobra hay que señalizar con tiempo, a una distancia prudente y asegurarnos 
        de que nos han visto.
      </p>
    </div>
  </div>
  <hr>
  <div class="contenido1">
    <div class="texto1">
      <h2>9. No rebases por lado derecho</h2>
      <p>
        Como cualquier vehículo, al rebasar lo tendremos que hacer por el lado izquierdo. <br><br> Especialmente cuando el semáforo está en rojo, es fácil querer 
        adelantarnos por el lado derecho. <br><br> Además de que el espacio para pasar puede ser bastante reducido, podemos encontrar obstáculos como alcantarillas. <br><br>
        Recuerda que es más probable que pasajeros tanto de vehículos particulares como del transporte público desciendan de estos y lo hacen de este lado.
      </p>
    </div>
    <img class="bici1" src="https://cdn.autobild.es/sites/navi.axelspringer.es/public/styles/480/public/media/image/2017/01/605579-norma-metro-medio-como-adelantar-ciclista.png?itok=ZNxlPRGB">
  </div>
  <hr>
  <div class="contenido1">
    <img class="bici2" src="https://www.comunidadvialmx.org/uploads/2017/06/19/Notas_19jun.png">
    <div class="texto1">
      <h2>10. No reacciones ante agresivamente antes un automovilista desinformado</h2>
      <p>
        Existe una falta de cultura vial enorme por lo que no es raro encontrarnos con conductores mal informados que desconocen los derechos de 
        los ciclistas a circular por las vialidades. <br><br> Algunas veces puede que recibamos el típico: “súbete a la banqueta” o algún otro tipo de agresión.
        Lo ideal es no reaccionar abrasivamente. <br><br> Salúdalo, dale una sonrisa o simplemente ignóralo.
      </p>
    </div>
  </div>

</div>

<link rel="stylesheet" href="/stylesheets/style4.css" />