<!--Menu-->
<nav>
  <a href="/inicio">Inicio</a>
  <a href="/data">Primera rodada</a>
  <a href="/routes">Mapa</a>
  <a href="/profile">Perfil</a>
</nav>

<!--Encabezado-->
<div class="main-section">
  <div class="overlay text-center">
    <h1 class="title-3 ver-ali"> Bienvenido a Urbike</h1>
    <span class="text-center title-2">Descrube tu mejor ruta en bicicleta y conéctate con más usuarios</span>
  </div>
</div>
<!--Tarjetas-->
<section class="hg-light">
  <h3 class="title-3 text-center">Acerca de la página</h3>
  <div class="d-flex-md">
    <div class="col-md-3">
      <div class="card">
        <h4 class="title-4 text-center">¿Qué saber antes de ir en bicicleta?</h4>
        <p class="p-center">Antes de comenzar la aventura revisa las normas que se deben cumplir para poder rodar</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
         <h4 class="title-4 text-center">Aquí encontrarás tus mejores rutas</h4>
          <p class="p-center">Checa todas las ciclovías de la CDMX</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
         <h4 class="title-4 text-center">Únete a nuestro foro </h4>
          <p class="p-center">Disponemos de un foro para que todos los usuarios puedan comentar su experiencia y ponerser en conctato con otros ciclistas.</p>
      </div>
    </div>
  </div>
</section>
<!--Pie de pagina-->
<section class="text-center main-a">
  <i class="fas fa-copyright">Derechos reservados</i>
</section>

<link rel="stylesheet" href="/stylesheets/style3.css"/>