<link rel="stylesheet" href="/stylesheets/style3.css"/>

<!--Encabezado-->
<div class="main-section">
  <div class="overlay">
    <h1> Bienvenido a Urbike</h1>
    <h2>Conecta con más ciclistas, infórmate de lo escencial para salir a rodar y revisa las ciclovías de la CDMX</h2>
  </div>
</div>
<!--Tarjetas-->
<section>
  <h3>Acerca de la página</h3>
  <div class="d-flex-md">
    <div class="col-md-3">
      <div class="card">
        <h4>¿Qué saber antes de ir en bicicleta?</h4>
        <p>Antes de comenzar la aventura revisa las normas que se deben cumplir para poder rodar</p>
        <div><a href="/data"><i class="fas fa-bicycle"></i></a></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
          <h4>Aquí encontrarás tus mejores rutas</h4>
          <p>Checa todas las ciclovías de la CDMX</p>
          <div><a href="/routes"><i class="fas fa-map-marked-alt"></i></a></div>
          
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
         <h4>Únete a nuestro foro </h4>
          <p>Comunícate con otro usuarios, comenta tus experiencias, pide consejo o ayuda a alguien.</p>
          <div><a href="/foro"><i class="far fa-comments"></i></a></div>
      </div>
    </div>
  </div>
</section>
<!--Pie de pagina-->
<footer>
  <i class="fas fa-copyright">Derechos reservados</i>
</footer>