<link rel="stylesheet" href="/stylesheets/style5.css"/>

<nav>
  <a href="/inicio">Urbike</a>
  <a href="/data">Primera rodada</a>
  <a href="/foro">Foro</a>
  <a href="/routes">Mapa</a>
  <a href="/profile">Perfil</a>
</nav>

<h1>Rutas de la Ciudad de México</h1>
{{!-- <div id='map' style='width: 600px; height: 600px;'></div> --}}

<iframe src="https://datos.cdmx.gob.mx/explore/embed/dataset/ciclovias/map/?refine.estado=Activa&location=12,19.41382,-99.11333&dataChart=eyJxdWVyaWVzIjpbeyJjb25maWciOnsiZGF0YXNldCI6ImNpY2xvdmlhcyIsIm9wdGlvbnMiOnsicmVmaW5lLmVzdGFkbyI6IkFjdGl2YSJ9fSwiY2hhcnRzIjpbeyJhbGlnbk1vbnRoIjp0cnVlLCJ0eXBlIjoiY29sdW1uIiwiZnVuYyI6IkFWRyIsInlBeGlzIjoibG9uZ2l0dWQiLCJzY2llbnRpZmljRGlzcGxheSI6dHJ1ZSwiY29sb3IiOiIjNjZjMmE1In1dLCJ4QXhpcyI6ImVzdGFkbyIsIm1heHBvaW50cyI6NTAsInNvcnQiOiIifV0sInRpbWVzY2FsZSI6IiIsImRpc3BsYXlMZWdlbmQiOnRydWUsImFsaWduTW9udGgiOnRydWV9&static=false&datasetcard=false&scrollWheelZoom=false" width="100%" height="635px" frameborder="0"></iframe>
