:root {
  --gray: rgba(58,62,67, .8);
  --red:  rgba(255,111,106, 1);
  --blue: rgba(2, 128, 144, .8);
}

/* Categorías */

body {
  background-color: var(--gray);
  font-family: 'Oxygen', sans-serif;
  line-height: 20px;
  margin: 0;
}

.foro{
  padding: 60px;
  background-color: white;
}

.foro>nav{
  position: fixed;
  margin-top: 5vh;
}

.foro>nav div:nth-child(1){
  background-color: var(--red);
  width: 13vw;
  padding: 1vh 1.3vw;
  color: white;
  border-radius: 15px;
}

#cattitle{
  font-size: 1.2em;
  margin-top: 3vh;
}
.foro ul{
  padding-left: 20px;
}

.foro li {
  list-style-type: none;
  margin: 2vh 0;
}

.foro>nav div:nth-child(2){
  margin: 2vw 0;
}

.foro nav button{
  background-color: var(--blue);
  border: none;
  border-radius: 15px;
  width: 15vw;
  padding: 1vw;
  font-size: 1em;
  transform: scale(1);
  transition: all 1s;
  margin-top: 2vh;
}

.foro nav a{
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 20px;
}

.foro nav button:hover{
  transform: scale(1.1);
  background: var(--red);
  transition: all 0.7s;
}

.foro ul a,
.foro>nav div:nth-child(2)>a{
  color: white;
  text-decoration: none;
  position: relative;
}

.foro ul a::after{
  content: "";
  position: absolute;
  bottom: 0 ;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  transform-origin: bottom right;
  background-color: white;
}

.foro ul a:hover::after{
  transform-origin: bottom left;
  transform: scaleX(1);
}


/* Entradas */

.foro h2{
  color: var(--gray);
  font: 5vw 'Montserrat', sans-serif;
  text-align: center;
  margin: 4vh 2vw 1vw;
  width: 100%;
}

.foro>section>h3{
  width: 100%;
  text-align: center;
  margin: 2vw;
  line-height: 2vw;
  font-family: 'Montserrat', sans-serif;
}

.foro>section{
  margin: 0 5vw 0 20vw;
}

.foro>section>div>div{
  display: flex;
  background-color: var(--blue);
  margin: 4vh;
  border-radius: 15px;
  width: 100%;
  height: 110%;
}

.foro>section>div>div>div:nth-child(1){
  width: 40%;
  overflow: hidden;
  border-radius: 15px;
  margin: 0;
}

.foro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foro>section>div>div>div:nth-child(2){
  margin-left: 2vw;
  color: white;
  position: relative;
  width: 50%;
}
.foro section p{
  margin-bottom: 6vh;
}
.foro section button{
  background-color:  rgb(2, 128, 144);
  border: none;
  border-radius: 15px;
  padding: 1vw;
  font-size: 16px;
  transform: scale(1);
  transition: all 1s;
  width: 18vw;
  margin: 2vw 9vw;
}

.foro section a{
  color: white;
  text-decoration: none;
  position: relative;
}

.foro section button:hover{
  transform: scale(1.1);
  background: var(--red);
  transition: all 0.7s;
}

.foro h3{
  font-family: 'Montserrat', sans-serif bold;
  font-size: 22px;
  margin: 3vw 0 0;
}

.foro>section p,
.detalles p{
  text-align: justify;
  line-height: 24px;
  font-size: 18px;
}


/* Detalles de posts */

.detalles{
  background-color: white;
  display: flex;
  padding: 15vh 3vw;
  color: white;
}

.detalles>div:nth-child(1){
  width: 45%;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
}

.detalles img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

.detalles>div:nth-child(1) button{
  background-color:  var(--red);
  border: none;
  border-radius: 15px;
  width: 18vw;
  padding: 1vw;
  font-size: 1vw;
  transform: scale(1);
  transition: all 1s;
  margin: 2vh 10vw;
}

.detalles>div:nth-child(1) a{
  color: white;
  text-decoration: none;
  position: relative;
}

.detalles>div:nth-child(1) button:hover{
  transform: scale(1.1);
  background: var(--blue);
  transition: all 0.7s;
}

.detalles>div:nth-child(2){
  margin-left: 2vw;
  width: 55%;
}

.detalles>div:nth-child(2)>div:nth-child(1)>div:nth-child(1){
  text-align: right;
  margin: 0 2vw;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.detalles>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:last-child{
  width: 5vw;
  height: 5vw;
  margin: 1vw;
}

.detalles>div:nth-child(2)>div:nth-child(1)>div:nth-child(1) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.detalles>div:nth-child(2)>div:nth-child(1){
  background-color: var(--blue);
  padding: 0 2vw 2vh;
  border-radius: 15px 15px 0 0;
}

.detalles>div:nth-child(2)>div:nth-child(2){
  background-color: rgba(58,62,67, .2);
  color: rgba(0,0,0,.8);
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  line-height: 22px;
}

.detalles h3{
  font: 22px 'Montserrat', sans-serif;

}

h4 {
  margin: 0;
  font: 22px 'Montserrat', sans-serif;
}

.textarea{
  width: 99%;
  font: .9em 'Oxygen', sans-serif;
  padding: 8px;
}

.detalles form button{
  background-color: rgb(2, 128, 144);
  border: none;
  border-radius: 15px;
  width: 10vw;
  padding: .5vw;
  font-size: 1vw;
  transform: scale(1);
  transition: all 1s;
  margin-top: 1vh;
  color: white;
}


.detalles form a,
.perfil button a{
  text-decoration: none;
  color: white;
}

.detalles form button:hover{
  transform: scale(1.1);
  background: var(--red);
  transition: all 0.7s;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

form div{
  padding: 4vh 6vw 0;
}



/* User posts */

.userpostsbtn{
  width: 12vw;
  margin: 3vw 1vw;
}



label{
  font-size: 22px;
  font-weight: bolder;
  color: white;
}

input{
  width: 20vw;
  height: 28px;
  font: 1em 'Oxygen', sans-serif;
  margin-top: 2vh;
}

[type="file"]{
  color: white;
}

form button{
  color: white;
}