/*rgba(75,78,81,1) - gris
rgba(255,111,106,1) - rojo*/

@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&family=Montserrat:wght@400;500;700&family=Oxygen:wght@300;700&display=swap');

:root {
  --gray: rgba(58,62,67, .8);
  --red:  rgba(255,111,106, 1);
  --blue: rgba(2, 128, 144, .8);
}


img {
  height:50px;
}


/*Encabezado*/
.main-section{
  height: 600px;
  width: 100%;
  background-image: url('../images/bici.JPEG');
  position: relative;
  background-size: cover;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 15vh;
  left: 25vw;
}

h1 {
  font-size: 4rem;
  color:white;
}

h2 {
  margin-bottom:15px;
  font-size: 2.5rem;
  width: 70%;
  color:white;
  padding: 0 12vw;
}


/*CSS Tarjetas*/

section {
  padding:5%;
  text-align: center;
  height: 400px;
  background-color:  rgba(58,62,67, .4);
}

h3{
  font: 2.5rem 'Montserrat', sans-serif;
  margin: 0 0 4vh;
  color:  rgba(58,62,67, 1);
}

.fa-bicycle,
.fa-map-marked-alt,
.fa-comments {
  font-size: 60px;
  color: white;
}

.d-flex-md{
  display:flex;
}

.col-md-3 {
  width:35%;
  padding: 1rem;
  margin: 1rem;
}

p {
  text-align: center;
  font-size: 20px;
}

/*Componentes*/
.card {
  background:rgba(255,111,106,1);
  color:white;
  padding: 1rem;
  height: 120%;
  transform: scale(1);
  transition: all 1s;
  border-radius: 17px;
  position: relative;
}
.card:hover{
  /*efecto tarjeta aumentada*/
  transform: scale(1.1);
  background: var(--blue);
  color: black;
  transition: all 0.7s;
} 

.card div{
  position: absolute;
  bottom: 4vh;
  left: 10vw
}


h4 {
  font-size:1.3rem;
}

/*Pie de pagina*/
.fa-copyright {
  font-size: 20px;
  color:white;
  margin: 10vh 2vw 0;
  }


footer {
    background: rgba(75,78,81,1);
    color:white;
    height: 20vh;
  }