/*rgba(75,78,81,1) - gris
rgba(255,111,106,1) - rojo
font-family: 'Gayathri', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oxygen', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&family=Montserrat:wght@400;500;700&family=Oxygen:wght@300;700&display=swap');


body {
  background-color: #DCDCDC;
}


h1 {
  color: rgba(255,111,106,1);
  text-align: center;
  font: 5vw 'Montserrat', sans-serif;
  padding: 100px 0 4vh;
  margin: 0;
}

p{
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

iframe{
  margin: 2vw;
}