/*rgba(75,78,81,1) - gris
rgba(255,111,106,1) - rojo*/

:root {
  --gray: rgba(58,62,67, .8);
  --red:  rgba(255,111,106, 1)
}
body {
  background-color: var(--gray);
  font-family: helvetica;
  margin: 0
}

.contenedor-formularios {
  background:var(--red);
  padding: 50px;
  max-width: 600px;
  margin: 150px auto;
  border-radius: 5px;
 
}

h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 0 0 40px;
}

label {
  
  
  left: 13px;
  color: white;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}

label.highlight {
  color: white;
}

input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  color: rgba(255,111,106,1);
  border-radius: 0;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.contenedor-input {
  position: relative;
  margin-bottom: 40px;
}


.button {
  text-decoration: none;
  padding: 5px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  color: white;
  background-color: var(--gray);
  border-radius: 15px;
  border: 3px double var(--red); 

}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom: 20px;
}

.link {
  font-size: 18px;
  text-align: center;
}



/* Foro */

.foro>nav{
  position: fixed;
  margin: 5vw;
}

.foro>nav div:nth-child(1){
  background-color: var(--red);
  width: 15vw;
  padding: 1.5vw;
  color: white;
  border-radius: 15px;
}
.foro ul{
  padding-left: 20px;
}
.foro li {
  list-style-type: none;
  margin: 2vh 0;
}

.foro ul a,
.foro nav button a{
  color: white;
  text-decoration: none;
  position: relative;
}

.foro ul a::after,
.foro nav button a::after{
  content: "";
  position: absolute;
  bottom: 0 ;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  transform-origin: bottom right;
  background-color: white;
}

.foro ul a:hover::after,
.foro nav button a:hover::after{
  transform-origin: bottom left;
  transform: scaleX(1);
}

.foro nav button {
  background-color: var(--red);
  border-radius: 15px;
  border: none;
  margin-top: 2vh;
  padding: 1vw;
  font-size: 1em;
  width: 18vw;
}

.foro h2{
  color: white;
  font-size: 4em;
  text-align: center;
}

.foro>section{
  margin: 0 5vw 0 25vw;
}

.foro>section>div>div{
  display: flex;
  background-color: var(--red);
  margin: 4vh;
  border-radius: 15px;
  width: 100%;
  height: 35vh;
}

.foro>section>div>div>div:nth-child(1){
  width: 28vw;
  overflow: hidden;
  border-radius: 15px;
  margin: 0;
}

.foro img {
  width: 28vw;
}

.foro>section>div>div>div:nth-child(2){
  margin-left: 2vw;
  color: white;
  position: relative;
}

.foro section button{
  position: absolute;
  bottom: 2vh;
  left: 10vw;
  background-color:rgba(75,78,81,1);
  border: none;
  border-radius: 15px;
  width: 18vw;
  padding: 1vw;
  font-size: 1em;
}

.foro section a{
  color: white;
  text-decoration: none;
  position: relative;
}


