/*rgba(75,78,81,1) - gris
rgba(255,111,106,1) - rojo*/

body {
  margin: 0px;
}

html {
  background-color: #DCDCDC;
}

h1 {
  color: #006400;
  text-align: center;
  padding: 20px;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
}

nav {
  background: #006400;
  height: 60px;
  width: 100%;
  /*border-bottom: 1px solid rgba(75,78,81,1);*/
  display:flex;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
}
nav a{
  font-family: impact;
  color: #DCDCDC;
  text-decoration: none;
  font-size: 20px;
  flex: 1;
  display:flex;
  justify-content: center;
  align-items: center;
}