/*rgba(75,78,81,1) - gris
rgba(255,111,106,1) - rojo
font-family: 'Gayathri', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oxygen', sans-serif;
*/


@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&family=Montserrat:wght@400;500;700&family=Oxygen:wght@300;700&display=swap');

:root {
  --gray: rgba(58,62,67, .8);
  --red:  rgba(255,111,106, 1);
  --blue: rgba(2, 128, 144, .8);
}


body {
  background-color: var(--gray);
  font-family: 'Oxygen', sans-serif;
  line-height: 20px;
}

.contenedor-formularios {
  background:var(--red);
  padding: 50px;
  max-width: 600px;
  margin: 150px auto;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: white;
  margin: 0 0 40px;
  font: 'Times New Roman', Times, serif bold;
}

label {
  left: 13px;
  color: white;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}

label.highlight {
  color: white;
}

input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  border-radius: 0;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.contenedor-input {
  position: relative;
  margin-bottom: 40px;
}


.button {
  text-decoration: none;
  padding: 5px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  color: white;
  background-color: var(--gray);
  border-radius: 15px;
  border: 3px double var(--red); 

}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom: 20px;
}

.link {
  font-size: 18px;
  text-align: center;
}

.menu{
  display: none;
}