<form action="/newpost" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Título</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>

  <div class="form-group">
    <label for="content">Contenido</label>
    <input type="textarea" class="form-control" id="content" name="content">
  </div>
  
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile" name="image">
    <label class="custom-file-label" for="customFile">Selecciona un archivo</label>
</div>
<select  name="category" class="form-control form-control-sm">
  <option selected>Categoría</option>
  <option>Ayuda</option>
  <option>Recomendaciones</option>
  <option>Mécanica</option>
</select>

<button type="submit" class="btn btn-primary">Crear post</button>
</form>